<%- include partials/header.ejs %>
 
 <div class="jumbotron" style="background-image: url('http://xyer.co/wallpaper/8/3/white-border-wallpaper-background-hd.jpeg');
  background-repeat:no-repeat; display: compact ;" >
  
  <div class="container">
  <div class="col-lg-12 text-center v-center ">
  <p>Welcome to</p>  
  <h1 class="heading">Live Survey </h1>
  <p>Make your own customized survey. Register for free on Live Survey and build multiple surveys.</br> 
  Choose a template from our built in functional survey templates and customize it according to your requirements.</br>
  Participate in our active surveys anonymously without registering. </p> 
  <p></br></p>
  <p><a class="btn btn-primary btn-lg" href="/register" role="button">Register</a> <a class="btn btn-primary btn-lg" href="/activesurveys" role="button">Active Surveys</a></p>     
    </div>
  </div>
 </div>


	<%- include partials/footer.ejs %>
  </body>
</html>
