<% include ../partials/header.ejs %>
	<!-- Render the survey creation from-->
	 <div class="jumbotron" style="background-image: url('http://bridgefordtrust.com/wp-content/uploads/2012/04/background1.jpg');
             background-repeat:no-repeat; display: compact ; " >
	<main class="container">
			<h1 class="heading">Create a Survey</h1>
			
		<div class="col-sm-4">
			<form method="post" name="surveyForm">
				<fieldset class="form-group">
					<label for="name">Name: *</label>
					<input name="name" type="text" class="form-control" required autofocus />
				</fieldset>
				<fieldset class="form-group">
					<label for="template">Template: *</label></br>
					<input type= "radio" name ="template" value="CheckBox">&nbsp&nbspCheckBox</br>
					<input type= "radio" name ="template" value="True or False">&nbsp&nbspTrue or False
				</fieldset>
				<fieldset class="form-group">
					<label for="activeDate">Active Date: *</label>
					<input name="activeDate" type="Date" class="form-control" required />untill:</br>
					<input name="expireDate" type="Date" class="form-control" required />
				</fieldset>
				<fieldset class="form-group">
					<label for="noOfQuestions">No of Questions: *</label></br>
					<select name="noOfQuestions">
						<option value="5"> 5</option>
						<option value="10"> 10</option>
						<option value="15"> 15</option>
					</select>
				</fieldset>
				<fieldset class="form-group text-right">
					<input type="submit" class="btn btn-success" value="Submit"/>
				</fieldset>
			</form>
		</div>
	</main>
	 </div>
<%- include ../partials/footer.ejs %>