<% include ../partials/header.ejs %>

<div class="jumbotron" style="background-image: url('http://bridgefordtrust.com/wp-content/uploads/2012/04/background1.jpg');
             background-repeat:no-repeat; display: compact ; " >
	<main class="container">
			<h1 class="heading">Edit Survey</h1>


<div class="col-sm-7" id="tof">
<% for (var i = 0; i < question.length; i++) { 
if(question[i].surveyId == survey._id)
{
%>
		<fieldset class="form-group">
			<label for="question">Question: </label></br>
			<textarea name="question" required rows="3" cols="50"><%= question[i].question %></textarea>	
		</fieldset>
		<fieldset class="form-group">
			<label for="option1">Option 1: </label>
				<input class="form-group" type="text" name="option1" value="True" readonly /></br>
			<label for="option2">Option 2: </label>
				<input class="form-group" type="text" name="option2" value="False" readonly /></br>
		</fieldset>
		<% } } %>
		<h2>Add a new Question</h2>
		<form method="post" name="tofeditform">
		<fieldset class="form-group">
			<label for="question">Question: </label></br>
			<textarea name="question" required rows="3" cols="50"></textarea>	
		</fieldset>
		<fieldset class="form-group">
			<label for="option1">Option 1: </label>
				<input class="form-group" type="text" name="option1" value="True" readonly /></br>
			<label for="option2">Option 2: </label>
				<input class="form-group" type="text" name="option2" value="False" readonly /></br>
				<input class="form-group" type="text" style="display:none" name="surveyId" value="<%= survey._id  %>" />
		</fieldset>
		<fieldset class="form-group text-right">
                <input type="submit" class="btn btn-success" value="Submit"/>
            </fieldset>
		</form>
		</div>
		</main>
		</div>
	

<%- include ../partials/footer.ejs %>